
/* 基础框 */
pre[data-role="codeBlock"] {
    /* 【背景色、前景色】 */
    background-color: #222;
    /* background: #333; */
    color: #BBB;
}

/* 注释 */
.token.comment,
.token.blockquote {
  color: #777;
}

/* 符号 */
.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
  color: orange;
}

/* 关键字 */
.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.builtin {
  color: palevioletred;
}

/* 字符串 */
.token.string,
.token.url,
.token.regex,
.token.attr-value {
    color: yellowgreen;
}

/* 数字 */
.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
  color: lightskyblue;
}

/* 函数 */
.token.function,
.token.namespace,
.token.pseudo-element,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.id,
.token.url-reference .token.variable,
.token.attr-name {
  color: yellow;
}
