* {
    padding: 0;
    margin: 0;
}

/* хЫЮхИ░щб╢щГи */

/* body:after {
    content: 'ЁЯСЖ';
    font-size: 160%;
    position: fixed;
    right: 50px;
    bottom: 50px;
} */

/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/

/* уАРхЖЕхо╣ ч╝йш┐ЫуАС */
html body h1~*,html body h2~*,html body h3~*,html body h4~* {
    margin-left: 8%
}

/* уАРх╝ХчФи ч╝йш┐ЫуАС */
html body h1~blockquote {
    margin-left: 0;
}
html body h2~blockquote {
    margin-left: 2%;
}
html body h3~blockquote {
    margin-left: 4%;
}
html body h4~blockquote {
    margin-left: 6%;
}

/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/

/* уАРцаЗщвШца╖х╝ПуАС */

/* тШЕ тШЖ тШ╝ тША тЧЙ тЬЬ тЬа тЬЪ тЦг тШ╜ тШ╛ тШВ тЬ▓ тЭИ тЬ┐ тЬ▓ тЭИ */
/* 0 2% 4% 6% */

html body h1 {
    margin-left: 0;
    color: #EF7823;
    border-bottom: 1px solid #666;
    margin-top: 80px;
}

html body h1:before {
    content:"тША";
    color:#EF7823;
    font-size: 80%;
    margin-right: 5px;
}

html body h1>a {
    color:inherit;
}
html body h1>a:after {
    content: 'тЖ╡';
    font-size: 80%;
    font-weight:bold;
    margin-left: 5px;
}

html body h2>a {
    color:inherit;
}
html body h2>a:after {
    content:"ЁЯСИ";
    font-size: 50%;
}
html body h2 {
    margin-left: 2%;
    margin-top: 40px;
    color: #FF69B4;
    border-bottom: 1px solid #666;
}

html body h3>a {
    color:inherit;
}
html body h3>a:after {
    content:"ЁЯСИ";
    font-size: 50%;
}
html body h2:before {
    content:"тШ╛";
    color:#FF69B4;
    font-size: 80%;
    margin-right: 5px;
}

html body h3 {
    margin-left: 4%;
    margin-top: 20px;
    color: #DEDA00;
}

html body h3:before {
    content:"тШЖ";
    color:#DEDA00;
    font-size: 80%;
    margin-right: 5px;
}

html body h4 {
    margin-left: 6%;
    margin-top: 10px;
    color: #AADDDD;
}

/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/

/* уАРчЫох╜Х щЧ┤ш╖ЭуАС */
html body div.markdown-preview>h1+ul {
    margin-left: 0;
    margin-top: 60px;
    margin-bottom: 120px;
}

/* уАРхЕмх╝П щЧ┤ш╖ЭуАС */
html body span.katex>.katex-html {
    margin-bottom: 10px;
}

/* уАРхИЧшби щЧ┤ш╖ЭуАС */
html body li {
    margin-bottom: 10px;
}

/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/

html body {
    /* уАРхнЧф╜УуАС */
    font-family: 'Times New Roman' , Arial, SimHei, SimSun;

    /* уАРшГМцЩпшЙ▓уАБхЙНцЩпшЙ▓уАС */
    background-color: #333;
    color: #bbb;
}

/* уАРч▓Чф╜У щвЬшЙ▓уАС */
html body strong {
    color: #eee
}

/* уАРх╝ХчФи щвЬшЙ▓уАС */
html body blockquote {
    background-color: #444;
    color: #666;
}
/* уАРх╝ХчФи ч▓Чф╜У щвЬшЙ▓уАС */
html body blockquote strong {
    color: #aaa;
}

/* уАРшбица╝ цаЗщвШ щвЬшЙ▓уАС */
html body table th {
    color: white;
    color: #ccc;
}

/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/*тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа|тЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦатЦа*/
/* уАРц╡БчиЛхЫ╛ FlowchartуАС */

/* уАРц╡БчиЛхЫ╛ Start End Inputoutput Operation Subroutine щвЬшЙ▓уАС */
html body div.flow svg rect {
    stroke: #AAA;
    fill: #555;
}

/* уАРц╡БчиЛхЫ╛ Condition щвЬшЙ▓уАС */
html body div.flow svg path.flowchart {
    fill: #555;
}

/* уАРц╡БчиЛхЫ╛ Path щвЬшЙ▓уАС */
html body div.flow svg path {
    stroke: #AAA;
}

/* уАРц╡БчиЛхЫ╛ Text щвЬшЙ▓уАС */
html body div.flow svg text {
    fill: #EEE;
}