@import url("./codeblock.css");

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 自定义样式 */

.hint {
    color: #666;
}

.highlight {
    color: #99FFFF;
    /* 99FFFF */
    /* 08BEC9 */
}

.mark {
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(255, 128, 0);
    background-color: #444;
}

div.mark {
    padding: 5px;
}

span.mark {
    padding: 1px;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

* {
    padding: 0;
    margin: 0;
}

div.markdown-preview {
    padding: 2em calc(30% - 457px + 2em) !important;
}

/* 回到顶部 */

/* body:after {
    content: '👆';
    font-size: 160%;
    position: fixed;
    right: 50px;
    bottom: 50px;
} */

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 【内容 缩进】 */
html body h1~*,html body h2~*,html body h3~*,html body h4~* {
    margin-left: 8%;
    width: auto;
}

/* 【引用 缩进】 */
html body h1~blockquote {
    margin-left: 0;
}
html body h2~blockquote {
    margin-left: 2%;
}
html body h3~blockquote {
    margin-left: 4%;
}
html body h4~blockquote {
    margin-left: 6%;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 【标题样式】 */

/* ★ ☆ ☼ ☀ ◉ ✜ ✠ ✚ ▣ ☽ ☾ ☂ ✲ ❈ ✿ ✲ ❈ */
/* 👆 👈 🎈 🌞 🌙 ⭐ 💡 📌 📎 🏷 */
/* 0 2% 4% 6% */

html body h1 {
    margin-left: 0;
    color: #EF7823;
    border-bottom: 1px solid #666;
    margin-top: 80px;
}
html body h1:before {
    content:"🌞";
    color:#EF7823;
    font-size: 80%;
    margin-right: 5px;
}
html body h1>a {
    color:inherit;
}
html body h1>a:after {
    content: '↵';
    font-size: 80%;
    font-weight:bold;
    margin-left: 5px;
}


html body h2>a {
    color:inherit;
}
html body h2>a:after {
    content:"📌";
    font-size: 50%;
}
html body h2 {
    margin-left: 2%;
    margin-top: 40px;
    color: #FF69B4;
    border-bottom: 1px solid #666;
}
html body h2:before {
    content:"🌙";
    color:#FF69B4;
    font-size: 60%;
    margin-right: 2px;
}


html body h3>a {
    color:inherit;
}
html body h3>a:after {
    content:"📌";
    font-size: 50%;
}
html body h3 {
    margin-left: 4%;
    margin-top: 20px;
    color: #DEDA00;
}
html body h3:before {
    content:"⭐";
    color:#DEDA00;
    font-size: 80%;
    margin-right: 2px;
}


html body h4>a {
    color:inherit;
}
html body h4 {
    margin-left: 6%;
    margin-top: 10px;
    color: #5CD009;
}
html body h4:before {
    content:"💡";
    font-size: 80%;
    margin-right: 2px;
}


html body h5>a {
    color:inherit;
}
html body h5 {
    color: #FFFFFF;
}
html body h5:before {
    content:"✿";
    font-size: 100%;
    margin-right: 2px;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* 【目录 间距】 */
html body div.markdown-preview>h1+ul {
    margin-left: 0;
    margin-top: 60px;
    margin-bottom: 120px;
}

/* 【公式 间距】 */
html body span.katex>.katex-html {
    margin-bottom: 10px;
}

/* 【列表 间距】 */
html body li {
    margin-bottom: 10px;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

html body {
    /* 【字体】 */
    font-family: 'Times New Roman' , Arial, SimHei, SimSun;

    /* 【背景色、前景色】 */
    background-color: #333;
    color: #bbb;
}

/* 【粗体 颜色】 */
html body strong {
    /* color: #eee;*/
    color: inherit;
    font-weight: bold;

    /* 亮度 */
    filter: brightness(135%);
    -webkit-filter: brightness(135%);
    /* 饱和度 */
    /* -webkit-filter: saturate(180%);
    filter: saturate(180%); */
}

/* 【代码 颜色】 */
html body code {
    background-color: #666;
    color: #f0f0f0;
}

/* 【引用 颜色】 */
html body blockquote {
    background-color: #444;
    color: #888;
}
/* 【引用 粗体 颜色】 */
html body blockquote strong {
    color: #bbb;
}

/* 【表格 标题 颜色】 */
html body table th {
    color: white;
    color: #ccc;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/* 【公式 Katex】 */
html body span.katex span.hline {
    background-color: #AAA;
}
html body span.katex span.vertical-separator {
    background-color: #AAA;
}

/* 【流程图 Flowchart】 */

/* 【流程图 Start End Inputoutput Operation Subroutine 颜色】 */
html body div.flow svg rect {
    stroke: #AAA;
    fill: #555;
}

/* 【流程图 Condition 颜色】 */
html body div.flow svg path.flowchart {
    fill: #555;
}

/* 【流程图 Path 颜色】 */
html body div.flow svg path {
    stroke: #AAA;
}

/* 【流程图 Text 颜色】 */
html body div.flow svg text {
    fill: #EEE;
}

/* 【Mermaid】 */
html body div.mermaid {
    display: inline-block;
    background-color: #888;
}

/* 【Mermaid Path 颜色】 */
/*
html body div.mermaid .edgePath .path {
    stroke: #AAA !important;
}
*/